h2 {
    background-color: lightblue;
    padding: 50px;           /* Make padding bigger */
    border: 10px solid darkblue;  /* Make border thicker */
    margin: 50px;            /* Make margin bigger */
}
